/*home page */
#home{
    background-image: url(images/maang-pic.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.main{
    display: flex;
    justify-content: space-evenly;
}
.links{
    color: white;
}

.icons{
    height: auto;
    width: 100px;
}
.main2{
    display: flex;
    justify-content: space-around;
}
#meta{
    opacity: 0;
}
#apple{
    opacity: 0;
}
#amazon{
    opacity: 0;
}
#netflix{
    opacity: 0;
}
#google{
    opacity: 0;
}


/* Meta page */


  