*{
    padding: 0;

}

.main{
    margin: auto;
    margin-top: 10%;
    text-align: center;
    border: solid black;
    width: fit-content;
    height:fit-content;
}
.input-number{
    display: flex; 
    justify-content: center;
}
.buttons{
    display: flex;
    margin: auto;
justify-content: space-evenly;
}
#result{
    margin-top: 5%;
}